<app-web-component></app-web-component>
<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>Angular Web-Component Works!</span>
</mat-toolbar> -->

<!-- (click)="sidenav.toggle() -->
<!-- 
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [(opened)]="!openSideNav">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <button mat-button ">sidenav.toggle()</button></p>
    
  </mat-sidenav-content>
</mat-sidenav-container> -->