@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-icons/iconfont/material-icons.css';

.example-spacer {
  flex: 1 1 auto;
}

.full-content-side {
  height: 100vh;
}

.m32 {
  width: 100%;
  margin: 32px;
}